<div class="ui container">
  <h1>Home</h1>
  <p>Deine NotizApp</p>
  <div class="ui grid">
    <div class="sixteen wide column">
      <a routerLink="../notelists" class="ui green button">Listen ansehen</a>
    </div>
    <div class="sixteen wide column">
      <a routerLink="../createNotelist" class="ui yellow button">Liste erstellen</a>
    </div>
    <div class="sixteen wide column">
      <a routerLink="../notes" class="ui green button">Notizen ansehen</a>
    </div>
    <div class="sixteen wide column">
      <a routerLink="../createNote" class="ui yellow button">Notizen erstellen</a>
    </div>

    <div class="sixteen wide column">
      <a routerLink="../todos" class="ui green button">Todo ansehen</a>
    </div>
  </div>
</div>
