<h1>Listenformular</h1>
<form class="ui large form" [formGroup]="notelistForm"
      (ngSubmit)="submitForm()">
  <input type="hidden" formControlName="id">

  <div class="field">
    <label>Titel</label>
    <input formControlName="title">
    @if (errors['title']) {
      <div class="ui negative message">{{ errors['title'] }}</div>
    }
  </div>
  <div class="field">
    <label>Beschreibung</label>
    <textarea formControlName="description" rows="3"></textarea>
  </div>

  <button type="submit" class="ui button" [disabled]="notelistForm.invalid">Speichern
  </button>
</form>
